version: '3.5'

services:

{{#services}}
  {{name}}:
    image: {{image}}
  {{#ports.0}}
    ports:
    {{#ports}}
      - "{{.}}"
    {{/ports}}
  {{/ports.0}}
  {{#depends_on}}
    depends_on:
      - {{.}}
  {{/depends_on}}
  {{#restart}}
    restart: {{.}}
  {{/restart}}
  {{#command}}
    command: {{.}}
  {{/command}}
  {{#labels.0}}
    labels:
    {{#labels}}
      - "{{.}}"
    {{/labels}}
  {{/labels.0}}
  {{#volumes.0}}
    volumes:
    {{#volumes}}
      - "{{.}}"
    {{/volumes}}
  {{/volumes.0}}
  {{#environment.0}}
    environment:
    {{#environment}}
      - {{.}}
    {{/environment}}
  {{/environment.0}}
  {{#sysctls}}
    sysctls:
    {{#sysctl}}
      - {{name}}
    {{/sysctl}}
  {{/sysctls}}
  {{#networks.0}}
    networks:
    {{#networks}}
      - {{.}}
    {{/networks}}
  {{/networks.0}}
{{/services}}

{{#created_volumes}}
volumes:
  {{#external_vols}}
  {{ext_vol_name}}:
    external: true
    name: {{prefix}}_{{ext_vol_name}}
  {{/external_vols}}
{{/created_volumes}}

{{#network}}
networks:
  {{#global_networks}}
  {{name}}:
    name: {{global_network_name}}
    {{#global_network_labels}}
    labels:
    {{#global_network_label}}
      - "{{.}}"
    {{/global_network_label}}
    ipam:
      config:
      - subnet: '{{subnet_ip}}'
    {{/global_network_labels}}
  {{/global_networks}}
{{/network}}